.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 16px;
    padding: 16px;
}
.product-grid-wrapper {
    width: 50%;
    height: 90vh;
    max-height: 90vh;
    overflow-y: auto;
    box-sizing: border-box;
    border: solid 2px #cccccc;
}

.selected-product {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 8px;
    margin: 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.product-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 16px;
}

.product-details {
    flex-grow: 1;
    font-weight: bold;
}

.amount-input {
    width: 40px;
    text-align: center;
    margin: 0 8px;
}

.increment-button, .decrement-button, .cancel-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.cancel-button {
    color: red;
}

.gen-button.green {
    background-color: #4BC134;
}
.gen-button.green:hover {
    background-color: #3EA02B;
}
.gen-button.blue {
    background-color: blue;
}
.gen-button.red {
    background-color: red;
}

.product-operation {
    font-weight: bold;
    font-size: 24px;
    padding-right: 20px;
    overflow: hidden;
    white-space: nowrap;
}

.product-operation.green {
    color: #3EA02B;
}

.product-component {
    border: solid #cccccc 2px;
    border-radius: 10px;
    margin: 2px;
    padding: 5px;
    width: 360px;
}
.product-image-fit {
    object-fit: cover;
    object-position: center;
    border-radius: 10%;
}

.product-component-image {
    width: 150px;
    height: 150px;
}
.product-component-image-wrap {
    margin: 4px;
}

.product-component-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 1;
}

.product-component-price {
    font-size: 16px;
    padding-top: 2px;
}

.product-component-cb-wrap {
    width: 100%;
}
.products-upper {
    padding-bottom: 4px;
}