.tr-control-common {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.tr-control-item {
    display: flex;
    flex-direction: column;
    padding: 4px;
}

.transaction-item-wrap {
    width: 280px;
    min-height: 140px;
    border: #8a8a8a solid;
    border-radius: 10px;
    padding: 5px;
    margin: 3px;
    cursor: pointer;
}
.tr-title {
    font-weight: bold;
    font-size: 18px;
}
.tr-inner {
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
}

.tr-text-pink {
    margin-left: 8px;
    font-size: 22px;
    color: #fe2eb8;
    font-weight: bold;
}

.tr-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, 300px);
}
.tr-btn {
    font-size: 20px;
    min-width: 35px;
    min-height: 35px;
    padding: 2px;
    margin: 2px;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tr-btn-in {
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
}
.tr-btn.side {
    background: #dedede;

}
.tr-btn.defs {
    background: #ffafe2;
}
.tr-btn.selected {
    background: #fe2eb8;
}
.tr-buttons-pan {
    margin-top: 24px;
    display: flex;
    width: 100%;
    justify-items: center;
}
.trc-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.trc-wrapper {
    display: flex;
    flex-direction: column;
    width: 35%;
}
.trc-title {
    color: #fe2eb8;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.trc-td {
    padding: 4px;
    min-width: 50px;
    text-align: center;
    border-radius: 10px;
    background: #eeeeee;
    margin: 2px;
}
.trc-td.htop {
    background: #fe2eb8;
    color: white;
    font-weight: bold;
}
.trc-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4px;
}
.trc-row:nth-child(even) .trc-td {
    background-color: #ebebeb;
}
.trc-row {
    display: contents;
}
.trc-head {
    font-weight: bold;
}
.trc-back-wrapper {
    margin-top: 20px;
    display: flex;
    justify-items: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.trc-back {
    width: 200px;
}