.cmn-title {
    color: #fe2eb8;
    font-size: 72px;
    font-weight: bold;
}
.cmn-center {
    width: 70%;
    min-width: 500px;
}
.cmn-desc-detail {
    min-height: 240px;
}

.cmn-important-line {
    line-height: 1;
    font-weight: bold;
    font-size: 20px;
}

.cmn-buttons {
    display: flex;
    flex-direction: row;
    gap: 6px;
}