.gen-input {
    border: solid 1px black;
    padding: 2px;
    border-radius: 5px;
}
.gen-input.gen-error {
    border: solid 1px red;
    background: #fff0f0;
}

.gen-button {
    background: gray;
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.gen-button:hover {
    background: #676767;
}

.gen-area {
    border: solid 1px black;
    padding: 2px;
    border-radius: 5px;
    resize: none;
}

.gen-checkbox {
    border: solid 1px black;
    width: 20px;
    height: 20px;
    border-radius: 5px;
}
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}