.cancel-button {
    color: red;
}

.gen-button.green {
    background-color: #4BC134;
}
.gen-button.green:hover {
    background-color: #3EA02B;
}
.gen-button.disb {
    background-color: #8a8a8a;
}
.gen-button.disb:hover {
    background-color: #7a7a7a;
}
.gen-button.blue {
    background-color: #6363f1;
}
.gen-button.blue:hover {
    background-color: #4040d0;
}
.gen-button.red {
    background-color: red;
}
.gen-button.red:hover {
    background-color: #cb0000;
}
.gen-button.pink {
    background-color: #fe2eb8;
}
.gen-button.pink:hover {
    background-color: #d71f9a;
}
.themed-text {}
.themed-text.green{
    color: #3EA02B;
}
.themed-text.blue{
    color: #4040d0;
}
.themed-text.orange{
    color: #ffa116;
}

.gen-button.orange {
    background-color: #ffad38;
}
.gen-button.orange:hover {
    background-color: #ffa116;
}

.product-component-add {
}
.product-component-add.green {
    border-color: #3EA02B;
}
.product-component-add.blue {
    border-color: #4040d0;
}
.product-component-add.orange {
    border-color: #ffad38;
}
