.cancel-button {
    color: red;
}

.gen-button.green {
    background-color: #4BC134;
}
.gen-button.green:hover {
    background-color: #3EA02B;
}
.gen-button.disb {
    background-color: #8a8a8a;
}
.gen-button.disb:hover {
    background-color: #7a7a7a;
}
.gen-button.blue {
    background-color: blue;
}
.gen-button.red {
    background-color: red;
}
.themed-text {}
.themed-text.green{
    color: #3EA02B;
}